.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.mainSection{
  font-family: 'Poppins';
}

#footerSection{
  height: 100;
  width: 100;
}

.aboutSection1{
  margin-top: 180px;
  padding-right: 180px;
}

.aboutSection1 h1{
  color: black;
  font-size: 100px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 20px;
}

.aboutSection1 h1::after{
  background-image: linear-gradient(to right, #7009fc,
#c126cb);
content: "";
height: 7px;
width: 125px;
align-content: left;
position: absolute;
bottom: 590px;
left: 0;
margin-left: 30px;


}

.aboutSection1 p{
  color: black;
  font-size: 17px;
  padding-left: 20px;
  /* letter-spacing: 1px; */
  line-height: 2.25;
  margin-top: 15px;

}

.aboutSection2{
  margin-top: 72px;
  margin-right: 100px;
  margin-left: -50px;
}

.aboutSection2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  height: 30%;
  width: 24%;
}


.aboutSection2 p{
  text-align: center;
  margin-bottom: 24px;
  /* font-size: 18px; */
}

.aboutSection2 .col-4 p:first-of-type {
  letter-spacing: 1px;
  font-size: 18px;
}

.footerTitle{
  text-align: end;
  padding-right: 7%;
  padding-top: 200px;
}

.footerTitle h4{
  color: white;
  font-weight: lighter;
  font-size: 30px; 

}

.footerTitle h1{
  color: black;
  font-weight: bold;
  font-size: 90px;
  margin-top: -20px;
}

.footerContent{
  color: white;
  margin-top: 144px;
}

.footerContent h3{
  font-weight: bold;
  margin-top: 5px;
}

.footerContent p{
  font-size: 18px;
}

.footerContent span{
  color: aqua;
}

.nfluenceLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -85px;
  height: 60%;
  widows: 60%;
}

.nfluenceLogoLine{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brands p,h3{
  text-align: right;
}

.nfluence{
  display: inline-block;

}
.verticalLine{
  padding-bottom: 220px;
  background-image: linear-gradient(black 66%, aqua 0%);
  background-position: center;
  background-size: 2px 5px;
  background-repeat: repeat-y;
}

.underLine {
  border: 2px solid #6B3ECD;
  width: 19%;
  margin-top: 5px;
  margin-bottom: 35px;

}